.wrapper{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-gap: 1.5em;
}

.header {
  margin-top: 0;
  grid-area: header;
}

.main {
  margin: 120px auto 0 auto; 
  max-width: 1280px;
  grid-area: main; 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 1em;
  grid-auto-flow: dense;
  padding: 0 1em 1em;
}

@media(min-width: 50em) {
  .main {
    padding: 0;
  }
}

.card > figure {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
}

.card:hover {
  text-decoration: none;
}

.card > figure > img {
  flex: 1;
  object-fit: cover;
  width: 100%;
  border-top-left-radius: .25em;
  border-top-right-radius: .25em;
}

.card > figure > figcaption {
  margin: 0;
  padding: 0.3em 0.8em;
  background-color: rgba(0,0,0,1);
  color: #fff;
  text-align: right;
  border-bottom-left-radius: .25em;
  border-bottom-right-radius: .25em;
}

.card.last-post {
  grid-row: span 2;
  grid-column: span 2;
  font-size: 2em;
}

.footer {
  margin-top: 0;
  grid-area: footer;
}

.post-main {
  margin: 100px auto 0 auto; 
  max-width: 100vw;
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "article"
    "side"
  ;
  padding: 0 1em 1em;
}

@media(min-width: 50em) {
  .post-main {
    max-width: 1280px;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "article side"
    ;
    grid-gap: 0.795em;
    padding: 0;
  }
}

.post-main__article {
  margin-top: 0;
  grid-area: article;
}   

.post-main__side {
  margin-top: 0;
  grid-area: side;
}

.post-image {
  display: block;
  margin:0 auto;
  border-radius: 10em;
}

.toolbar {
  display: flex;
  flex-direction: row;
  flex-wraper: no-wrap;
  justify-content: space-between;
  align-items: center;
}

.author {
  display: inline-block; 
  vertical-align: middle; 
  width: 45px; 
  height: 45px; 
  border-radius: 50%; 
  object-fit: cover;
}
